@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

body, p{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#bluescreen {
  position: absolute;
  background-color: blue;
  color: white;
  width: 100%;
  height: 100%;
}

/* header */
a{
  text-decoration: none;
  color: black;
}


#nav a:hover{
  color: rgb(46, 72, 164);
}

.header {
  background-color: white;
  width: calc(100% - 200px);
  height: 97px;
  padding: 0 100px;
  display: flex;
}
  
.header div{
  display: flex;
  width: 223px;
  flex: 1;
  padding: 26px 0;
}
#logo a{
  line-height: 45px;
  font-family: 'Nanum Gothic';
  font-size: 27px;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-style: normal;
  color: #212121;
}

#nav {
  padding: 26px 0;
  width: 794px;
  display: flex;
  flex: 2;
  justify-content: center;
  
}

#nav a{
  width: auto;
  padding: 0 12px;
  font-size: 15px;
  line-height: 45px;
}


#apply{
  display: flex;
  flex-direction: row-reverse;
}

#apply a{ 
  border: solid;
  border-color: #e9e5e5;
  color: #606060;
  border-width: 0.5px;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  font-weight: 350;
  margin: 0 0 0 5px;
  padding: 6px 26px;
  line-height: 20.59px;

}

#apply a:hover{ 
  background-color: rgb(46, 72, 164);
  color: white;
  transition: 0.3s;
}

/* video */
#video{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 550px;
  overflow: hidden;
}

#videoIFrame{
  width: 100vw;
  height: 100vw;
}

/* main */
#main {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#next {
  height: 206px;
  position: relative;
}


#next div:first-child{
  position: relative;
  top: 50px;
  font-size: 26px;
  font-weight: 600;
}

#next div:last-child{
  position: relative;
  top: 80px;
  line-height: 30px;
  color: #404040;
}

#blank1{
  height: 30px;
}

#infobox{
  top: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#infobox a{
  width: 300px;
  height: 170px;
  padding: 24px;
  color: white; 
  background-color: #001255;
  text-align: start;
}

#infobox a div, #infobox a p{
  height: 23.8px;
}

#infobox a p:first-child{
  height: 27.19px;
}

#infobox a:first-child, #infobox a:last-child {
  background-color: rgb(46, 72, 164);
}

#infobox a p:nth-child(2), #infobox a p:nth-child(3){
  font-size: 14px;
}

#infobox a p:last-child {
  font-size: 12px;
}

/* notice */


#blank2 {
  height: 40px;
}

#notbox {
  width: 1072px;
  padding: 0 16px;
  margin: 0 auto;
}

.notitem {
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: solid;
  border-color: #A5A5A7;
  border-width: 1px;
  width: 1044px;
  display: flex;
  

}

.not {
  padding: 0 5px 0 0;
  color: #A5A5A7;
  font-size: 14px;
}

.con {
  width: 925px;
  font-size: 14px;

}

.date {
  color: #00000099;
  font-size: 12px;
  text-align: right;
}

#blank3 {
  height: 60px;
}







